@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  
  
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; /* Use a clean, readable font */
  background-color: #f0f0f0; /* Light gray background */
  color: #333; /* Dark text for readability */
}

a {
  text-decoration: none;
  color: inherit;
}


a:hover {
    color: #747bff;
  }
  
}
